 body {
 font-family: Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  background: 	#B2BEB5;
 align-items: center;
}
.main-container{
  border-radius: 10px;
  background-color: #E5E4E2;
 display: flex;
}

.main-weather-div{
background: white;
width: 30%;
border-top-left-radius: inherit;
border-bottom-left-radius: inherit;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
text-align: center;
padding: 20px 40px 20px 40px;
border-right: inset;
}




.city-title {
font-weight: 500;
margin: 30px;
font-size: 60px;
opacity: 0.7;

}

.weather-type {
font-size: 40px;
font-weight: 400;
margin: 30px;
opacity: 0.7;
}

.current-city-temp {
font-size: 90px;
font-weight: 500;
margin: 30px;
opacity: 0.8;

}


.weather-attr-div-main{
display: flex;
flex-direction: column;
}


.weather-attr-div {
display : flex;
background: white;
margin: 15px;
border-radius: 10px;
text-align: center;
padding: 10px 20px 10px 20px;
height: 200px;
width: 250px;
box-shadow: 3px 8px #A9A9A9;
}


.weather-attr-div:hover{
background: #f7f2f2;
cursor: pointer;
}

.attr-text {
font-size: 20px;
font-weight: 500;
opacity: 0.7;
 margin: 10px 0px 5px 0px;
}
.attr-text-num {
font-size: 35px;
font-weight: 500;
opacity: 0.7;
 margin: 10px 0px 5px 0px;
}
.attr-text-unit{
font-size: 25px;
font-weight: 500;
opacity: 0.5;
 margin: 10px 0px 5px 0px;

}

.date-time-div {
display: flex; 
justify-content: flex-end;
padding: 30px 20px 25px 20px;
opacity: 0.8;
font-size: 35px;
font-weight: 500;
}

.system-div {
display: flex; 
justify-content: flex-end;
padding: 0px 20px 0px 20px;
opacity: 0.7;
}

.attr-info{
text-align: right;
width:100%;
}

.img-txt-wrapper {
display: flex; width:100%; padding-right: 10px;
}
